<%- include('../partials/header') %>

<section id="workouts">
    <div class="row f-flex align-items-center mb-2">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="text-workout-dark">Workouts</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-workout" role="button" href="/workouts/new">New</a>
        </div>
    </div>

    <div>
        <% workouts.forEach(workout => { %>
            <a href="/workouts/<%= workout.id %>">
                <div class="row workout-box mb-2">
                    <div class="exercise-inner-white-border">
                        <div class="container workout">
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <a class="text-workout-dark" href="/workouts/<%= workout.id %>"> <%= workout.formatWorkoutName() %></a>
                                </div>
                            </div>
                            <div class="row">
                                <% workout.exercises.forEach(e => { %>
                                    <div class="row">
                                        <div class="col ms-5">
                                            <div class="row">
                                                <p class="text-primary-dark"> <%= e.exerciseData.formatName() %></p>
                                            </div>
                                            <div class="row">
                                                <div class="col ms-5">
                                                    <% e.sets.forEach(s => { %>
                                                        <div class="row">
                                                            <p class="text-set-dark"> Weight: <%= s.weight %> | Reps: <%= s.reps %></p>
                                                        </div>
                                                    <% }) %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <% }) %>
    </div>

</section>

<%- include('../partials/footer') %>