<%- include('../partials/header') %>

<% console.log(user.preferences.measurement) %>

<a href="/workouts/<%= workout.id %>/edit">Edit Details</a>

<h2>Exercises</h2>
<% workout.exercises.forEach(e => { %>
    <div class="exercise-border-wrap">
        <div class="exercise-inner-white-border">

            <div class="container exercise">
                <div class="row">
                    <h3 class="text-center"><%= e.exerciseData.formatName() %></h3>
                </div>
                <div class="row">
                    <div class="col-6 d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <p>Target: <%= e.exerciseData.formatTarget() %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <p>Equipment: <%= e.exerciseData.formatEquipment() %></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="gif-div d-flex justify-content-center align-items-center">
                            <img class="gif-img" src="<%= e.exerciseData.gifUrl %>" alt="Gif showing exercise">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <h4>Sets</h4>
                    </div>
                </div>
                <!-- <form action=""></form> add delete/edit-->
                <div class="row">
                    <div class="col">
                        <% e.sets.forEach((s, i) => { %>
                            <%- include('../partials/set', {s, i: i, user}) %>
                        <% }) %>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col d-flex justify-content-center align-items-center">
                        <h5>Add Set</h5>
                    </div>
                </div>
                <div class="row">
                    <form 
                        action="/workouts/<%= workout.id %>/exercises/<%= e.id %>/sets"
                        method="POST"
                    >
                        <div class="row justify-content-center mt-1">
                            <div class="col-4 col-md-3 col-lg-2 text-end d-flex align-items-center justify-content-end">
                                <label class="form-label" for="weight">Weight <%= user.preferences.measurement === 'metric' ? `(kg)` : `(lbs)` %></label>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2 mt-1">
                                <input class="form-control" type="number" name="weight" id="weight">
                            </div>
                        </div>
                        <div class="row text-end justify-content-center align-items-center mt-1">
                            <div class="col-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-end">
                                <label class="form-label" for="reps">Reps</label>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <input class="form-control" type="number" name="reps" id="reps">
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col d-flex justify-content-center align-items-center">
                                <button class="btn btn-secondary" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
<% }) %>
<a href="/workouts/<%= workout.id %>/exercises/new">Add exercise</a>

<%- include('../partials/footer') %>

<script src="/js/formatExerciseTitle.js"></script>
<script>

</script>