<%- include('../partials/header') %>

<form action="/workouts/<%= workoutId %>/exercises" method="POST">
    <label for="target">Target:</label>
    <select name="target" id="target">
        <% targets.forEach(target => { %>
            <option value="<%= target %>"><%= target %></option>
        <% }) %>
    </select>
    <label for="equipment">Equipment:</label>
    <select name="equipment" id="equipment">
        <% equipmentArray.forEach(e => { %>
            <option value="<%= e %>"><%= e %></option>
        <% }) %>
    </select>
    <label for="exercise">
        Select Exercise:
    </label>
    <select name="exerciseData" id="exercise">
    <% exerciseData.forEach(e => { %>
        <option value="<%= e._id %>"><%= e.name %></option>
    <% }) %>
    </select>
    <button type="submit">Add</button>
</form>

<%- include('../partials/footer') %>

<script src="/js/addExercise.js"></script>