<%- include('../partials/header') %>

<p>Email: <%= user.email %></p>
<img src="<%= user.avatar %>" alt="<%= user.name %>'s avatar">
<h2>Preferences</h2>
<h3>Measurements</h3>
    <div id="measurement">
    <input type="radio" name="measurement" id="metric" value="metric" <%# user.preferences.measurement === 'metric' && 'checked' %>>
    <label for="metric">Metric</label>
    <input type="radio" name="measurement" id="imperial" value="imperial" <%# user.preferences.measurement === 'imperial' && 'checked' %>>
    <label for="imperial">Imperial</label>
    </div>


<%- include('../partials/footer') %>

<script>
    // Vars
    const preferencesId = "<%= user.preferences._id %>";

    const measurement = "<%= user.preferences.measurement %>"

    // DOM Els
    const metric = document.getElementById('metric');
    const imperial = document.getElementById('imperial');
    
    if (measurement === 'metric') {
        metric.checked = true;
    } else {
        imperial.checked = true;
    }

    const handleMeasurementChange = async (e) => {

        // update preferences
        const requestOptions = {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ measurement: e.target.value })
        };

        try {

            const response = await fetch(`http://localhost:3000/preferences/${preferencesId}`, requestOptions);
        } catch (err) {
            console.log(err);
        }
    }
    
    // Add Event Listeners
    metric.addEventListener('click', handleMeasurementChange);
    imperial.addEventListener('click', handleMeasurementChange);


</script>