<!-- Modal -->
<div class="modal fade" id="editExerciseModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Exercise</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/workouts/<%= workout.id %>/exercises/<%= e.id %>?_method=PUT" method="POST">
            <div class="modal-body">
                <div class="row">
                    <div class="col d-flex justify-content-center"><h5>Filters</h5></div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-2">
                        <label class="form-label" for="target">Target:</label>
                    </div>
                    <div class="col-12 col-sm-10">
                        <select class="form-select form-select-sm" name="target" id="target<%= i %>">
                            <option value="" selected disabled> -- Select Target -- </option>
                            <optgroup label="Target Muscle">
                                <% targets.forEach(target => { %>
                                    <option value="<%= target %>"><%= target.split(' ')
                                            .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                            .join(' '); %></option>
                                <% }) %>
                            </optgroup>
                            <optgroup label="Body Part">
                                <% bodyParts.forEach(bp => { %>
                                    <option value="<%= bp %>"><%= bp.split(' ')
                                        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                        .join(' '); %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-2">
                        <label class="form-label" for="equipment">Equipment:</label>
                    </div>
                    <div class="col-12 col-sm-10">
                        <select class="form-select form-select-sm" name="equipment" id="equipment<%= i %>">
                            <option value="" selected disabled> -- Select Equipment -- </option>
                                <% equipment.forEach(e => { %>
                                    <option value="<%= e %>"><%= e.split(' ')
                                        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                        .join(' '); %></option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row mb-2">
                    <div class="col-12 col-sm-2">
                        <label class="form-label" for="exercise">
                            Select Exercise:
                        </label>
                    </div>
                    <div class="col-12 col-sm-10">
                        <select class="form-select" name="exerciseData" id="exercise<%= i %>">
                            <% exerciseData.forEach(e => { %>
                                <option value="<%= e._id %>"><%= e.name.split(' ')
                                    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                    .join(' '); %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <script>

    (() => {
    let i = `<%= i %>`
    let targetSelect = document.getElementById(`target${i}`);
    let equipmentSelect = document.getElementById(`equipment${i}`);
    
    let targetVal;
    let equipmentVal;
    
    let queryRequest = async (targetVal, equipmentVal) => {
        let query = []
        if (targetVal) {
            query.push(`target=${targetVal}`);
        }
        if (equipmentVal) {
            query.push(`equipment=${equipmentVal}`)
        }
    
        // console.log(query.join("&"));
        const endpoint = 'http://localhost:3000/exerciseData/search'
        const url = endpoint + '?' + query.join("&");
    
        try {
            const exerciseData = await fetch(url).then(res => res.json());
    
            // clear existing data in select
            const exerciseSelect = document.getElementById(`exercise${i}`);
            exerciseSelect.innerHTML = '';
    
            // poplate with new data
            exerciseData.forEach(exercise => {
                const option = document.createElement('option');
                option.value = exercise._id;
                option.text = exercise.name;
                exerciseSelect.append(option);
            })
    
        } catch (err) {
            console.log(err);
        }
    }
    
    let handleTargetChange = (e) => {
    
        targetVal = e.target.value;
        console.log('targetVal: ', targetVal)
    
        queryRequest(targetVal, equipmentVal);
    } 
    
    let handleEquipmentChange = (e) => {
        equipmentVal = e.target.value;
        queryRequest(targetVal, equipmentVal)
    }
    
    targetSelect.addEventListener('change', handleTargetChange);
    equipmentSelect.addEventListener('change', handleEquipmentChange);
})()


  </script>
