<!-- Modal -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Exercise</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col d-flex justify-content-center"><h5>Filters</h5></div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-2">
                    <label class="form-label" for="target">Target:</label>
                </div>
                <div class="col-12 col-sm-10">
                    <select class="form-select form-select-sm" name="target" id="target">
                        <option value="" selected disabled> -- Select Target -- </option>
                        <optgroup label="Target Muscle">
                            <% targets.forEach(target => { %>
                                <option value="<%= target %>"><%= target.split(' ')
                                        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                        .join(' '); %></option>
                                <% }) %>
                        </optgroup>
                        <optgroup label="Body Part">
                                <% bodyParts.forEach(bp => { %>
                                    <option value="<%= bp %>"><%= bp.split(' ')
                                        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                        .join(' '); %></option>
                                <% }) %>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 col-sm-2">
                    <label class="form-label" for="equipment">Equipment:</label>
                </div>
                <div class="col-12 col-sm-10">
                    <select class="form-select form-select-sm" name="equipment" id="equipment">
                        <option value="" selected disabled> -- Select Equipment -- </option>
                        <% equipment.forEach(e => { %>
                            <option value="<%= e %>"><%= e.split(' ')
                                .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                .join(' '); %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <hr>
            <form action="/workouts/<%= workout.id %>/exercises/" method="POST">
                <div class="row mb-2">
                    <div class="col-12 col-sm-2">
                        <label class="form-label" for="exercise">
                            Select Exercise:
                        </label>
                    </div>
                    <div class="col-12 col-sm-10">
                        <select class="form-select" name="exerciseData" id="exercise">
                            <% exerciseData.forEach(e => { %>
                                <option value="<%= e._id %>"><%= e.name.split(' ')
                                    .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                                    .join(' '); %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Exercise</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  </div>

  <script src="/js/addExercise.js"></script>